<?xml version="1.0" encoding="utf-8"?>

<project>
	<name>${name}</name>
	<description>${description}</description>
	<notes>${notes}</notes>
	<priority>${priority}</priority>
	<parent>${parent.name}</parent>
	
	<tasks>
		<task-name>${taskList.name}</task-name>
		<task-name>${taskList.state}</task-name>
		<task-name>${taskList.priority}</task-name>
	</tasks>
	
	<member>
		<member-code>${memberSet.code}</member-code>
		<member-name>${memberSet.name}</member-name>
	</member>
	
	
</project>