<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
	
	<menuitem title="DemoImpl" name="menu-demo-impl"/>
	<menuitem title="Person" name="menu-person" parent="menu-demo-impl" action="menu-person.action"/>
	<action-view name="menu-person.action" title="Person" model="com.axelor.demoimpl.db.Person">
		<view type="grid" name="person-grid"/>
		<view type="form" name="person-form"/> 
	</action-view>
	
	<menuitem name="menu-sales-product" parent="menu-demo-impl"
    title="Products"
    action="sale.products"/>

  <action-view name="sale.products" model="com.axelor.demoimpl.db.Product" title="Products">
    <view type="grid"/>
    <view type="form"/>
  </action-view>
  
  <menuitem name="menu-sales-order" parent="menu-demo-impl"
    title="Sale Orders"
    action="sale.orders"/>

  <action-view name="sale.orders" model="com.axelor.demoimpl.db.Order" title="Sale Orders">
    <view type="grid"/>
    <view type="form"/>
<!--     <view type="calendar" name="sales-timeline"/> -->
<!--     <view-param name="search-filters" value="filter-sales"/> -->
  </action-view>
	
	
</object-views>